In [1]:
import pandas as pd
from src.cleaning import datacleaning
import os
import random

In [2]:
a = datacleaning.cleaning(os.path.join(os.path.dirname(
    os.path.realpath('run.py')) + '/data/allegations_raw.csv'))

In [3]:
a.head()

,complaint_id,complainant_ethnicity,complainant_gender,complainant_age_incident,allegation,contact_reason,substantiated
0,42835,Black,Female,38.0,Failure to provide RTKA card,Report-domestic dispute,True
1,24601,Black,Male,26.0,Action,Moving violation,True
2,24601,Black,Male,26.0,Race,Moving violation,True
3,26146,Black,Male,45.0,Question,PD suspected C/V of violation/crime - street,True
4,40253,NaN,NaN,16.0,Physical force,Report-dispute,True

In [4]:
a = a[['complaint_id', 'complainant_ethnicity', 'complainant_gender', 'complainant_age_incident',
       'allegation', 'contact_reason']]

In [5]:
types = a.dtypes

In [6]:
ints = [i for i in range(1,100)]
floats = [float(i) for i in range (1, 100)]
strings = [i for i in 'abcdefghijklmnopqrstuvwxyz']

In [7]:
def prod_values(t):
    if t == 'int64':
        return random.sample(ints, 10)
    elif t == 'object':
        return random.sample(strings, 10)
    elif t == 'float64':
        return random.sample(floats, 10)

In [8]:
cols = a.columns
cols

Index(['complaint_id', 'complainant_ethnicity', 'complainant_gender',
       'complainant_age_incident', 'allegation', 'contact_reason'],
      dtype='object')

In [9]:
test = pd.DataFrame({list(cols)[i]: prod_values(str(types[i])) for i in range(len(list(cols)))})

In [10]:
test['complainant_gender'] = [random.sample(['Male', 'Female'], 1)[0] for i in range(10)]
test['complainant_ethnicity'] = [random.sample(['White', 'Black', 'Asian', 'Hispanic', 'Other'], 1)[0] for i in range(10)]
test['board_disposition'] = [random.sample(['Substantiated', 'not'], 1)[0] for i in range(10)]

In [11]:
test.head()

,complaint_id,complainant_ethnicity,complainant_gender,complainant_age_incident,allegation,contact_reason,board_disposition
0,33,Other,Female,71.0,a,h,not
1,7,Black,Male,57.0,d,u,Substantiated
2,27,Asian,Female,66.0,x,k,Substantiated
3,36,Other,Female,70.0,w,a,Substantiated
4,19,Hispanic,Female,19.0,b,x,not

In [13]:
test.to_csv("/Users/alecpanattoni/Documents/MissingnessFairnessAnalysis/data/test.csv")